.Fruit {
  display: inline-block;
  margin: 10px;
}

.orange {
  background-color: rgb(214, 162, 65);
  padding: 5px 10px;
}
.yellow {
  background-color: #f0f09e;
  padding: 5px 10px;
}
.red {
  background-color: rgb(212, 108, 108);
  padding: 5px 10px;
}
.green {
  background-color: rgb(186, 214, 143);
  padding: 5px 10px;
}
.brown {
  background-color: rgb(216, 164, 164);
  padding: 5px 10px;
}
